/* fonts start*/
/* noto-serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
 .noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* fonts end */
body{
    background-color: #F5F8FF;
}
/* common css start */
.max-width{
    max-width: 1140px;
}
.orange-color{
    color: #E95A08;
}
.font-color-size{
    color:rgba(0, 0, 0, 0.46);
     font-size: 22px;
    font-weight: 400;
}
.color-1{
    color: #FFFFFF;
}

/* common css end */

/* header start */
header{
     margin: 30px;
}
.container{
    height: 82px;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo-img{
    width: 135px;
    height: auto;
    /* border: 1px solid; */
}
.logo-img img{
    width: 100%;
}
.header-link{
    width: 415px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-right{
    display: flex;
    gap: 50px;
}
.link-txt-clr{
    color: #8987A1;
}
/* responsiveness*/
@media screen and (max-width: 576px){
    .link-right{
        visibility: hidden;
    }
}

/* header end */
/* banner start */
.banner{
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    /* border: 1px solid; */
    padding-top: 165px;
    
}
.banner-left{
    width: 570px;
    margin-right: 0;
    
}
.banner-left h2{
    font-size: 65px;
    font-weight: bold;
}
.banner-left p{
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}

.banner-right{
    width: 570px;
    margin-left: 0;
}
.banner-right img{
    width: 100%;
}
/* responsiveness */
@media screen and (max-width: 576px){
    .banner{
        flex-direction: column-reverse;
    }
}
/* banner end */
/* Our plants start */
.our-plants{
    margin: auto;
    /* border: 1px solid; */
    margin-top: 120px;

}
.our-plants-top{
    text-align: center;
    margin-bottom: 50px;
}
.our-plants-top h2, .latest-deals-title, .join-center-title{
    font-size: 50px;
    font-weight: 700;
}
.our-plants-bottom{
   display: grid;
   grid-template-columns: repeat(4, 1fr); 
   gap: 20px;
   width: 100%;
  
   
}
.card{
    width: 270px;
    height: auto;
    /* border: 1px solid; */
    margin-top: 30px;
}
.card-img{
    width: 100%;
}
.card-title-1, .card-title-2{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}
.card-title-2{
    font-weight: 700;
}
.card-btn{
    background-color: #E95A08;
    width: 270px;
    height: 50px;
}
/* responsiveness */
@media screen and (max-width: 576px){
.our-plants-bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}
}
/* Our plants end */
/* flower lover start */
.trusted-badge{
    position: relative;
}
.flower-lover{
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 211px;
     align-items: center;
}
.flower-lover-left{
    width: 540px;
    height: 597px;
}
.flower-lover-left img{
    width: 100%;
}
.flower-lover-right{
    width: 540px;
    height: 518px;
}
.flower-lover-right h2{
    font-size: 50px;
    font-weight: 700;
    margin: 20px 0;
}
.flower-lover-right ul li{
     margin: 20px 0;
}
.badge{
    width: 288px;
    height: 288px;
    position: absolute;
    top: -150px;
    left: 34%;
}
/* responsivness */
@media screen and (max-width: 576px){
    .flower-lover{
       flex-direction: column;
    }
    .badge{
        visibility: hidden;
    }
}
/* flower lover end */
/* latest deals start */
.latest-deals{
    text-align: center;
    margin: 125px 0;
}
/* latest deals end */
/* card layout start */
.card-layout{
    margin: auto;
    height: auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
/* .card-layout-left{
    width: 336px;
    height: 206px;
} */
.card-layout-left-1, .card-layout-left-2, .card-layout-right{
   position: relative; 
}
.card-layout-left-1, .card-layout-left-2{
    width: 366px;
    height: 206px;
}
.card-layout-left-1 img, .card-layout-left-2 img, .card-layout-right img{
    width: 100%;
    border-radius: 14px;
}

.text-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-center h4{
    font-size: 18px;
    font-weight: 700;
}
.w-margin{
    margin-bottom: 20px;
}
.card-layout-right{
    width: 753px;
    height: 423px;
}
/* responsivness */
@media screen and (max-width: 576px){
    .card-layout{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .card-layout-right{
     width: 366px;
    height: 206px;
}

}
/* card layout end */
/* join start */
.join{
    background-image: url("../assets/news-letter-bg.png");
    width: 100%;
    height: 533px;
    text-align: center;
    padding-top: 180px;
    
}
.join-center-title{
    color: #FFFFFF;
}
.join-center{
    display: flex;
    justify-content: center;
    padding: 23px 0;
}
.join-input{
    width: 644px;
    height: 50px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.46);
    padding-left: 30px;
}
.join-btn{
    width: 186px;
    height: 50px;
    background-color: #E95A08;
    color: #FFFFFF;
}
/* responsiveness */
@media screen and (max-width: 576px) {
    .join-input, .join-btn{
        width: 100%;
    
    } 
}

/* join end */
/* footer start */
footer{
    margin: 50px;
}
.last{
    height: auto;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    
}
.footer-left{
    width: 290px;
    height: 179px;
}
.footer-left-img{
    width: 135px;
    height: 82px;
}
.footer-left-img img{
    width: 100%;
}
.footer-center-1 ul li, .footer-center-2 ul li{
    margin-bottom: 30px;
}

.footer-right{
    display: flex;
    gap: 20px;
}
/* responsiveness */
@media screen and (max-width: 576px){
    .last{
        display: flex;
        flex-direction: column;
    }
}
/* footer end */